/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .logopic {
      text-align: center;
      /* border-bottom: 0.5px solid black; */
      margin-left: 250px;
      margin-right: 250px;
      position: relative;
      margin-top: 60px;
  }
  .naslov {
    padding: 10px;
    position: relative;
    text-align: center;
    margin-top: 200px;
    background: rgba(247, 247, 247, 0.6);
    color: black;
  }
  .kart {
   width: 280px;
   margin-left: 30px;
   border-radius: 10px;
  }
  
  
  /* detaljno */
  #detaljnocard {
    width: 400px;
  
    margin-left: 110px;
  }
  
   } 